button{

  border-radius: 5px;
  background-color: #4B8A8D;
  color: #FFFFFF;
}
.add{
  position: absolute;
  left:45%;
  top:50%;
  width : 75px;
  height: 50px;
}
.log{

  position: absolute;
  left:85%;
  top:2%;
}
